:root {
  --login-link-color: rgb(255, 255, 255);
  --header-title-color: rgb(255, 255, 255);
  --header-sub-title-color: rgb(255, 255, 255);
  --header-descrpiption-color: rgb(255, 255, 255);
  --find-your-partner-button-text-color: rgb(255, 255, 255);
  --find-your-partner-button-color: rgb(255, 78, 80);
  --meet-partner-title-color: rgb(51, 51, 51);
  --partner-name-color: rgb(51, 51, 51);
  --partner-descrpiption: rgb(102, 102, 102);
  --see-other-partner-button-color: rgb(255, 78, 80);
  --see-other-partner-button-hover-color: rgb(255, 255, 255);
  --see-other-partner-button-text-color: rgb(255, 78, 80);
  --mini-logo-1-color: rgb(255, 78, 80);
  --mini-logo-2-color: rgb(255, 165, 7);
  --mini-logo-3-color: rgb(28, 215, 173);
  --mini-logo-4-color: rgb(78, 115, 219);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
}

.header {
  padding-top: 28px;
  padding-bottom: 138px;
  background-position: center 0;
  background-image: url("../img/header-desktop.png");
  background-color: rgb(26, 25, 21);
  background-repeat: no-repeat;
  background-size: cover;
}

.authorization__block {
  margin-bottom: 128px;
}

.authorization__list {
  display: flex;
  justify-content: center;
}

.authorization__list-item:not(:last-child) {
  margin-right: 40px;
}

.authorization__button {
  position: relative;
  display: block;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--login-link-color);
}

.authorization__button::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 5.625rem;
  height: 2.25rem;
  border: 0.125rem solid rgba(255, 255, 255, 0);
  border-radius: 1.25rem;
  transition: border 0.2s linear;
}

.authorization__button:hover::before {
  cursor: pointer;
  border: 0.125rem solid var(--login-link-color);
  border-radius: 1.25rem;
}

.header__logo {
  margin-bottom: 36px;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--header-title-color);
}

.header__block {
  text-align: center;
}

.header__sub-title {
  max-width: 276px;
  margin: 0 auto;
  margin-bottom: 18px;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--header-sub-title-color);
}

.header__descrpiption {
  max-width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--header-descrpiption-color);
}

.header__button {
  display: block;
  margin: auto auto;
  min-width: 280px;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--find-your-partner-button-text-color);
  background-color: var(--find-your-partner-button-color);
  transition: background-color 0.2s linear, color 0.2s linear;
}

.header__button:hover {
  cursor: pointer;
  background-color: var(--find-your-partner-button-text-color);
  color: var(--find-your-partner-button-color);
}

.meet-your-partner {
  padding-top: 65px;
  padding-bottom: 56px;
}

.meet-your-partner__block {
  margin-bottom: 18px;
}

.meet-your-partner__title {
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--meet-partner-title-color);
}

.meet-your-partner__list-item {
  margin-bottom: 20px;
}

.partner-card {
  margin: 0 auto;
  max-width: 194px;
}

.partner-card__image {
  position: relative;
  max-width: 121px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.partner-card__image::after {
  position: absolute;
  display: block;
  left: 86.6%;
  top: 86.6%;
  transform: translate(-50%, -50%);
  width: 26.6%;
  height: 26.6%;
  content: "";
  border: 0.25rem solid white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.partner-image {
  display: block;
  max-width: 100%;
}

.card-1 .partner-card__image::after {
  background-color: var(--mini-logo-1-color);
  background-image: url("../img/mini-logo-tv.png");
}

.card-2 .partner-card__image::after {
  background-color: var(--mini-logo-2-color);
  background-image: url("../img/mini-logo-chemicals.png");
}

.card-3 .partner-card__image::after {
  background-color: var(--mini-logo-3-color);
  background-image: url("../img/mini-logo-coffe.png");
}

.card-4 .partner-card__image::after {
  background-color: var(--mini-logo-4-color);
  background-image: url("../img/mini-logo-paper-plane.png");
}

.partner-card__name {
  text-align: center;
  margin-bottom: 18px;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: var(--partner-name-color);
}

.partner-card__descrpiption {
  text-align: center;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: var(--partner-descrpiption);
}

.see-another-partners__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  height: 2.5rem;
  outline: none;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: transparent;
  border: 0.125rem solid var(--see-other-partner-button-color);
  color: var(--see-other-partner-button-text-color);
  transition: background-color 0.2s linear, color 0.2s linear;
}

.see-another-partners__button:hover {
  cursor: pointer;
  background-color: var(--see-other-partner-button-color);
  color: var(--see-other-partner-button-hover-color);
}

@media (min-width: 768px) {

  .header {
    padding-top: 50px;
    padding-bottom: 234px;
    background-size: cover;
  }

  .authorization__block {
    margin-bottom: 160px;
  }

  .header__sub-title {
    min-width: 504px;
    font-size: 52px;
  }

  .header__descrpiption {
    min-width: 404px;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .header__button {
    min-width: 226px;
  }

  .see-another-partners__button {
    min-width: 192px;
  }
}